.women-cover{
        background-image: url('../../assets/womenCatejpg.jpg');
        background-blend-mode: multiply;
        background-color: rgb(125, 123, 123);
        background-repeat: no-repeat;
        background-size: cover;
}