.featured{
        background-image: url('../../assets/desktop-wallpaper-scents-for-4-different-occasions-man-perfume.jpg');
        background-blend-mode: multiply;
        background-color: rgb(125, 123, 123);
        background-repeat: no-repeat;
        background-size: cover;
}